@media screen and ( max-width: 1200px)
    html 
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px)
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width: 760px )
    .hero
        &::after
            display: none
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
    .design
        background-color: $dark
        &__section-title
            color: $light
        &__card
            margin-bottom: 5.7rem
    .section-title
        &__text
            color: $light
    .row
        &-projects
            flex-direction: column
            align-items: center
    .col
        &-50
            padding-top: 2.4rem
            order: 0
            width: 100%
            font-size: 1rem
            &:nth-last-of-type(1)
                order: 0
                margin-top: 0
@media screen and ( max-width: 570px)
    .container
        display: flex
        justify-content: center
        flex-direction: column
    .menu
        width: 90%
    .contacts
        margin-right: 0
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        height: auto
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
            margin: 0 auto
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .swiper
        &-slide
            &__text
                flex-basis: 50%

@media screen and ( max-height: 520px)
    .hero
        &__scroll-down
            display: none